<form method="POST" action="/new">
    <h2>New message</h2>

    <label for="name">Name:</label>
    <input name="name" type="text" id="name">

    <label for="message">Message:</label>
    <input name="message" type="text" id="message">

    <button type="submit">Send</button>

</form>