<html>
    <header>
        <title>Mini Messageboard</title>
    </header>
    <body>
        
        <div class="message-board">

            <ul>
                <% messages.forEach((message) => { %>
                    <li>
                        <h3><%= message.name %></h3>
                        <p><%= message.message %></p>
                        <p><%= message.added %></p>
                        <a href="/message/<%= message.id %>">Open</a>
                    </li>
                <% }); %>
            </ul>

            <a href="/new">New Message</a>

        </div>

    </body>
</html>