<html>
    <head>
        <title>Message Details</title>
    </head>
    <body>
        
        <h2>Message details</h2>
        <p><strong>User: </strong> <%= message.user %></p>
        <p><strong>Message: </strong> <%= message.text %></p>
        <p><strong>Added: </strong> <%= message.added.toDateString() %></p>
        <a href="/">Back to Message Board</a>
        
    </body>
</html>